.outer{
    width:50%;
    margin-left:150px;
    background-color: powderblue;
    height:40%;
    border:1px black;
}
.inner{
    margin-left:20px;
}
#fnum{
width:50%;
height:10%;
margin-left:10%;
margin-top:10%;
}
#lnum{
    width:50%;
    height:10%;
    margin-left:10%;
}
#add{
    margin-left:12%;
}
#sp1 {
    margin-top:10%;
    margin-left:10%;
    padding:10px;
    float:left;
}
#result{
   padding-right:20px;
   padding-left:20px;
   border: 1px;
    margin-left:2%;
    margin-top:12%;
    background-color: lightgray;
    float:left;
}
button{
    margin-top:10px;
}