
.inner{
    margin-left:5%;
    margin-top:5%;
}

.button1 {
    background-color: lightgray;
    border: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 50px 25px;
    border-radius:25px 0px 0px 25px;
    margin-left:30px;
    margin-top:30px;
    border-style:solid;
  }
  .button2{

    background-color: lightgray;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 50px 25px;
    border-radius: 0px 25px 25px 0px;
    margin-top:30px;
    border-style:solid;
    margin-left:-8px;
  }
  #num{
      
      border-style:solid;
      padding:50px;
      margin-left:-8px;
      
      
  }