.outer{
    width:100%;
    height:700px;
    float:left;

}

.one{
    width:45%;
    height:200px;
    background-color: white;
    float:left;
    margin-left:20px;

}
.two{
    width:45%;
    height:200px;
    background-color: white;
    float:left;
    margin-left:60px;

}
h2, h6{
    text-align:center;
}
#message{
    width:374px;
    margin-top:10px;
    height:30px;
}
#name{
    margin-top:10px;
    height:30px;
}
#email{
   
    margin-top:10px;
    height:30px;
}
button{
    margin-left:318px;
    margin-top:20px;
    background-color:black;
    color:white;
    padding:10px;

}
.table1{
    width:100%;
}
table{
    text-align: center;
    
}
th{
    background-color: black;
    color:white;
    padding:16px;
    text-align: center;
}
td{
    text-align: left;
    border:1px lightgrey;
    padding:2px;
}
tr:hover{
    color:#ddd
}
tr{
    border:1px solid;
}