outer{
    background-color:white;
    height:2000px;
}
.task1{
    margin:auto;
    width:50%;
    margin-top:100px;
    background-color: blanchedalmond;
}
.task2{
    margin:auto;
    width:50%;
    margin-top:100px;
    background-color: blanchedalmond;

}
.task3{
    margin:auto;
    width:50%;
    margin-top:100px;
    background-color: blanchedalmond;

}
.task4{
    margin:auto;
    width:50%;
    margin-top:100px;
    background-color: blanchedalmond;

}
.task5{
    margin:auto;
    width:50%;
    margin-top:100px;
    background-color: blanchedalmond;

}
.task6{
    margin:auto;
    width:50%;
    margin-top:20px;
    background-color: blanchedalmond;

}
.task7{
    margin:auto;
    width:50%;
    margin-top:100px;
    background-color: blanchedalmond;

}
.task8{
    margin:auto;
    width:50%;
    margin-top:100px;
    background-color: blanchedalmond;

}
.task9{
    margin:auto;
    width:50%;
    margin-top:100px;
    background-color: blanchedalmond;

}
.task10{
    margin:auto;
    width:50%;
    margin-top:100px;
    background-color: blanchedalmond;

}

